body{}


/* Logo start */
.contain {
	margin-top: 20px;
	font-family: 'Merriweather', serif;
	font-size: 1.1rem;
}
.logo {
	display: flex;
	justify-content: center;
}
.logo img{
	width: 65%;
}
/* Logo end */



/* Menu-start */
.menu {
	margin-top: 3rem;
}
.desktop-menu {
	display: flex;
	justify-content: center;
	margin: 0 10% 0 15%;
}
.menu-li {
	font-family: 'Merriweather', serif;
	padding-right: 50px;
	font-size: 1.5rem;
	font-weight: 900;
	
}
.link {
	text-decoration: none;
	color: #243F6A;
	transition: all 0.4s
}
.link:hover{
	display: block;
	color: #A60709;
	font-size: 1.8rem;
	text-shadow: 4px 4px 0.2em #7A0000;
}
/* Menu-end*/


/* BlockContent-start */
.content {
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: 6rem 5%;

}
.sidebar-left {
	width: 22%;
	height: 100%;
	background-color: hsla(0, 0%, 84%, 0.25);
	border-radius: 20px;
	padding-bottom: 2rem;
}
.main-news {
	width: 50%;
	height: 80rem;
	background-color: hsla(0, 0%, 84%, 0.25);
	border-radius: 20px;
	padding-bottom: 2rem;
	overflow: auto;
	overflow-x: hidden;
}
.sidebar-right {
	width: 22%;
	height: 100%;
	background-color: hsla(0, 0%, 84%, 0.25);
	border-radius: 20px;
	padding-bottom: 2rem;
}
/* BlockContent-end */


/* sidebar-left-start */
.content-bar {
	margin-top: 1.5rem;
	text-align: l
}
.title {
	font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	font-weight: 600;
    color: #243F6A; 
	opacity: 0.8;
	padding: 0 0 10px 0;
	text-shadow: 1px 1px 0.1em black;
}
.sub-title {
	padding: 0 10px 0 10px;
	font-size: 1.1rem;
	color: #A60709;
	font-weight: 600;
	text-shadow: 1px 1px 0.1em black;
}

.five-top {/*  */
	margin-left: -4rem;
	padding: 20px 0 20px 0;
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
	color: #0C69B4;
	line-height: 2.5;
}
.five-top span{
	color: black;
	font-style: normal;
	font-size: 0.9rem;
	font-weight: 900;
}



div.five-top p:nth-child(1):before{/* Нумерация списка участников левого сайдбара */
	content: '1. ';
	color: black;
	padding: 0 5px 0 50px;
	font-weight: 800;
}
div.five-top p:nth-child(2):before{
	content: '2. ';
	color: black;
	padding: 0 5px 0 50px;
	font-weight: 800;
}
div.five-top p:nth-child(3):before{
	content: '3. ';
	color: black;
	padding: 0 5px 0 50px;
	font-weight: 800;
}
div.five-top p:nth-child(4):before{
	content: '4. ';
	color: black;
	padding: 0 5px 0 50px;
	font-weight: 800;
}
div.five-top p:nth-child(5):before{
	content: '5. ';
	color: black;
	padding: 0 5px 0 50px;
	font-weight: 800;
}

.description{/* Описание внизу левого сайдбара */
	font-size: 0.8rem;
	font-weight: 700;
	color: #A60709;
}

hr{
	padding-top: 15px;
	height: 12px;
	width: 30%;
	border: 0;
	box-shadow: inset 0 14px 2px -11px rgba(0,0,0,0.15);
}	
/* sidebar-left-end */	


.content-main{
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content-main-news{}
.content-img{
	padding: 20px 0 20px 0;
}
.datatime{
	text-align: right;
	padding-right: 4.2rem;
	font-size: 0.8rem;
	font-weight: 600;
}




/* CW-CWL NEWS */
.results{

	margin: 0;
   	padding: 15px 10px 10px 10px;
}

.cw{
	text-align: center;
	border: 1px solid #434343;
	border-radius: 5px;
	color: #747474;
	background-color: #e4e4e4;
	font-size: 1rem;
	margin: 10px;
	padding: 4px 15px 4px 15px;
	font-weight: 700;
}

.win{
	background-color: /*#00D500;*/rgba(83, 202, 24, 1);
	color:#fff!important;
	text-shadow: 1px 0 0px #000, 
	0 2px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 0px #000;
}

.win:hover{
	box-shadow: 2px 2px 5px 2px rgba(83, 202, 24, 0.55);
}

.loss{
	background-color: /*#FF0800;*/#AF2828; 
	color:#fff!important;
	text-shadow: 1px 0 1px #000, 
	0 2px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
}

.loss:hover{
	box-shadow: 2px 2px 5px 2px rgba(175, 40, 40, 0.55);
}

.draw{
	color:#fff!important;
	text-shadow: 1px 0 1px #000, 
	0 2px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
}

.draw:hover{
	box-shadow: 2px 2px 5px 2px rgba(67, 67, 67, 0.55);
}









/* Anarchy and Blood Clan */

.title-anarchy-block {}
.time {
	color: #263C6A;
	font-weight: 800;
	padding: 10px 0 20px 0;
	opacity: .8;
	font-size: 1rem;
}

.contain-tabs {
	display: flex;
	justify-content: center;
}
.row-tabs {
	
}
.topCups {
	padding: 0 0 20px 0;
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
	text-align: left;
	line-height: 2;
}
#LinkName { /** Цвет название клана в блоке "Состав на CWL" **/
	padding: 0 9px 0 9px;
	font-size: 1rem;
	color:#0C69B4;
	font-weight: 900;
	text-decoration: none;
}

#LinkName:hover{
	color: #A60709;
	text-shadow: 4px 4px 5px rgba(67, 67, 67, 0.35)
}

.size-number{
	font-size: 1rem;
	padding: 0 0 0 5px;
}

.sub-title a{
	color: #263C6A;
	font-size: 1.1rem;
	font-weight: 600;
	text-decoration: none;
}

.sub-title a:hover{
	color: #AF2828;
	text-shadow: 2px 2px 4px rgba(175, 40, 40, 0.55);
}


