body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background-color: #f2f4f6;
  /*Размер шапки: Ширина 2560px*Высота 1080px*/
  background-image: url("img/hero-bg2.jpg");
  background-image: url("img/hero-bg2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.anarchy {
	opacity: 0;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 66px;
  /*Цвет контактов - #288be6*/
  color: #ffffff;
  font-weight: 700;
  opacity: .8;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
	
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.header-email:hover {
	transition: 5s all;
	transform: scale(0.5);
	background-color: #0FC0FC;
	border: 2px solid #ffffff;
	color: #ffffff;
}

.header-phone {
  border-radius: 10px;
  padding: 5px;
  padding-left: 30px;
  background-image: url("img/icon-phone-footer.svg");
}

.header-phone:hover {
	transition: 5s all;
	transform: rotate(180deg);
	background-color: #0FC0FC;
	border: 2px solid #ffffff;
	color: #ffffff;
}

.hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Trattatello" "Impact" "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 150px;
  line-height: 496px;
  font-weight: 400;
  opacity: 0;
}

li {
	font-size: 20px;
	color: #000000;
	font-weight: 800;
}

.name {
	color: #0C69B4;
}

.donate {
	font-size: 14px;
	color: #000000;
}

.cw {
	color: #747474;
	background-color: #e4e4e4;
	border: 1px solid #434343;
	font-size: 20px;
	margin: 10px;
	text-align: center;
}

.win {
	background-color: #00D500;
	color: #ffffff;
	text-align: center;
}

.loss {
	background-color: #FF0800;
}

.draw {
	background-color: #A2ADD0;
}

.names {
	color: #305868;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.container2 {
	color: #000000;
}

.top4k {
	color: #A60709;
}

.team {
	font-size: 20px;
	color: #0C69B4;
}

.teamer {
	white-space: pre;
	color: #000000;
}

.number {
	color: #D40000;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  /*Статистика КВ*/
  color: #000000;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.news {
	font-size: 30px;
	color: #0C69B4;
}

.news2 {
	font-size: 20px;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button { /*Статистика КВ*/
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6; 
  color: #ffffff;
}

.lvk {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  border-radius: 4px;
  background-color: #288be6; 
  color: #ffffff;
}

.button:hover {
	transition: 10s all;
	transform: scale(0.5);
	background-color: #000000;
	opacity: .4;
}

.page-footer {
  padding: 40px 0;
  background-color: #000000; /* Старый фон футера: #00417d*/
  color: #ffffff;
  font-weight: 600;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}