.content {
	display: grid;
	grid-template-areas:
	 "header header header"
 	 "leftSidebar main rightSidebar"
 	 "footer footer footer";
	grid-template-columns: 1.2fr 2fr 1.2fr;
 	grid-template-rows: 200px 1300px 200px;
 	margin: 10px;
 	padding: 10px;
}

.header {
	border: 1px solid #000;
	grid-area: header;
	margin: 10px;
 	padding: 10px;
}

.leftSidebar {
	border: 1px solid #000;
	grid-area: leftSidebar;
	margin: 10px;
 	padding: 10px;
}

.main {
	border: 1px solid #000;
	grid-area: main;
	margin: 10px;
 	padding: 10px;
}

.rightSidebar {
	border: 1px solid #000;
	grid-area: rightSidebar;
	margin: 10px;
 	padding: 10px;
}

.footer {
	border: 1px solid #000;
	grid-area: footer;
	margin: 10px;
 	padding: 10px;
}