*, *:before, *:after {
	box-sizing: border-box;
} 

html{
	font-size: 10px;
	scroll-behavior: smooth;

}

body{
	font-family: 'Maven Pro', sans-serif;
	margin: 0;
	
}
.main {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
 	align-items: center;
	height: 100vh;
	min-height: 600px;
	background:url(../../img/1.png) no-repeat center;
	position: relative; 
	background-size: cover;
}

.main-overlay, .call-to-action-overlay{
	position: absolute; 
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.8;
	z-index: 0;
	background-image: -moz-linear-gradient( 150deg, rgb(136, 211, 206) 0%, rgb(110,69,226) 100%);
	background-image: -webkit-linear-gradient( 150deg, rgb(136, 211, 206) 0%, rgb(110,69,226) 100%);
	background-image: -ms-linear-gradient( 150deg, rgb(136, 211, 206) 0%, rgb(110,69,226) 100%);
}
.header {
	display: flex;
	justify-content: space-between;
	height: 10vh; 
	width: 90%;
	align-items: center;
	position: relative;
	z-index: 2; 
}
.logo {

}

.menu{
	width: 60%;
}
.menu ul{
	display: flex;
	justify-content: space-around; 

	list-style: none;
}
.menu-link {
	font-size: 1.2rem;
	text-decoration: none;
	color: #fff;
}
 .get-started-btn{
 	margin-left: 30px;
 	border: 1px solid #fff; 
 	padding: 10px 20px;
 	border-radius: 100px;
 	text-transform: uppercase; 
 }

 .main-text{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;  
 	align-items: center;
 	position: relative; 
 	z-index: 2;
 	text-align: center;
 }

 .main-text span{
 	display: inline-block;
 	font-size: 1.5rem;
 	font-weight: 500;
 	text-transform: uppercase;
 }

 .main-text h1{
 	font-size: 80px;
 	margin: 0.5rem;
 }

 .main-text span::after{
 	content: '';
 	width: 20px;
 	height: 1px;
 	background-color: #fff;
 	display: inline-block;
 	vertical-align: middle;
 	margin-left: 10px;
 }

 .main-text span::before{
 	content: '';
 	width: 20px;
 	height: 1px;
 	background-color: #fff;
 	display: inline-block;
 	vertical-align: middle;
 	margin-right: 10px;
 }

  .main-text p{
  	font-size: 1.4rem;

  }

 .main-arrow{
 	height: 15vh;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	z-index: 2;
 }

 .arrow-down{
 	text-align: center;
 	line-height: 55px;
 	border-radius: 50%;
 	width: 50px;
 	height: 50px;
 	background-color: #fff;
 	 box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
 }

.table{
	background-color: #f9fafc;
	padding: 10rem;
}
.table-header{
	text-align: center;
	margin-bottom: 5rem;
}

.table-header h2{
	color:#4f4f6f;
	font-size: 5rem;
	margin: 0;
}

.table-header span{
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 500;
	color: #9fa4af;
}

.table-header span::after{
	content: '';
 	width: 20px;
 	height: 1px;
 	background-color: #6e45e2;
 	display: inline-block;
 	vertical-align: middle;
 	margin-left: 10px;
}

.table-header span::before{
	content: '';
 	width: 20px;
 	height: 1px;
 	background-color: #6e45e2;
 	display: inline-block;
 	vertical-align: middle;
 	margin-right: 10px;
}

.table-header p{
	font-size: 1.8rem;
	display: inline-block;
	width: 40rem;
	line-height: 1.4; 
	color: #9fa4af;
}

.price-tags{
	display: flex; 
	justify-content: space-around;
	align-items: center;
}

.price-tag {
	background-color: #fff;
	border-radius: 2rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center; 
	width: 250px; 
	text-align: center;
	transition: 0.5s; 
}

.price-tag:hover{
	cursor: pointer;
	box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}

.price-tag span{
	color: #9fa4af;
	font-size: 1.1rem;
	font-weight: 500;
	text-transform: uppercase;
	margin: 3rem auto 1rem;
}
 
.price-tag h4{
	font-weight: 500;
	margin: 1rem;
	color: #4f4f6f; 
	font-size: 3rem;
}

.price-tag h4 sub{
	font-size: 1.6rem;
	vertical-align: bottom;
}

.price-tag h4 sup{
	font-size: 1.6rem;
	margin-right: 0.3rem;
}

.price-tag p{ 
	color: #9fa4af;
}

.price-btn {
	background-color: #fff;
	border: 1px solid #9fa4af;
	color: #9fa4af;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 4rem;
	margin: 2rem auto;
	border-radius: 100px; 
	transition: 0.2s;
}

.price-btn:hover{
	background-color: #6e45e2;
	color: #fff;
  	box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.3);
}


.call-to-action {	
	background: url(../../img/map.png) no-repeat center;
	background-size: cover;
	text-align: center;
	padding: 15rem;
	position: relative;
	color: #fff;
}

.call-to-action span{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 500; 
}

.call-to-action h4{
	font-weight: 500;
	font-size: 5rem;
	margin: 1rem auto 2rem;
}

.cta-btn{
	display: inline-block;
	border: none;
	background-color: #fff;
	color: #c2c9db;   
	width: 19rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 700;
	margin: 1rem;
	height: 5rem;  
	border-radius: 100px;
	transition: 0.2s; 
}

.cta-btn:hover{
	background-color: #6e45e2;
	color: #fff;
	cursor: pointer;
}

.wrap{
	z-index: 2;
	position: relative;
}

.footer-wrap {
	display: flex;
	justify-content: center;
}
.footer {
	height: 10vh;
	align-items: center; 
	width: 90%;
	display: flex;
	justify-content: space-between;
}
.logo {}
.footer-menu{
	width: 60%;
}
.footer-menu ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.footer-link {
	font-size: 1.4rem;
	text-decoration: none;
	color: #6a6a77;
	font-weight: 500;
}

.footer-get-started{
	margin-left: 4rem;
 	border: none;
 	background-color: #6e45e2;
 	color: #fff;
 	padding: 10px 20px;
 	border-radius: 100px;
 	text-transform: uppercase; 
}

.line{
	display: block;
	width: 90%;
	height: 1px;
	background-color: #333;
	margin: 1rem auto;
}

.legal{
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copy{
	font-size: 1.3rem;
	color: #6a6a77;
	margin-bottom: 1rem;
}

.social-links a{
	color: #6a6a77;
	font-size: 1.4rem;
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.m-menu-link{
	display: none; 
	color: #fff;	
	font-size: 3rem;	

}

.m-menu{
	padding: 0;	
	margin: 0;	
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;	
	list-style: none;
	font-size: 3rem;
	line-height: 2;  
	z-index: 9;
	font-weight: 500;
	background-color: #6e45e2;	 
	display: flex;	
	flex-direction: column;
	align-items: center;	
	justify-content: center;
	transition: 0.5s;
	transform: translateX(100%);
}

.m-menu__active{
	transform: translateX(0%);
}

.close-menu{
	position: fixed;
	font-size: 3rem;	
	right: 5rem;	
	top: 0;	
	font-weight: 900;	
	color: #fff;	
}

.close-menu:hover{
	cursor: pointer;	
}